body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    text-align: center;
    background: url('https://i.imgur.com/FG4QUMd.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: rgba(0, 0, 0, 0.7); /* Black translucent background */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    color: #e0e0e0;
}

#word-cloud {
    font-size: 24px;
    margin: 20px 0;
    color: #e0e0e0;
    height: auto;
}
